{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <section>
        <div class="overflow-x-auto pb-8 px-4 mx-auto max-w-screen-2xl sm:pb-8 lg:px-6">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="{% url "index" %}"
                           class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor" viewBox="0 0 20 20">
                                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Donate</span>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
        <div class="container mx-auto text-center">
            <h1 class="mb-4 text-5xl tracking-tight font-extrabold text-gray-900 dark:text-white">Support fuminshō</h1>
            <p class="mt-2 text-gray-500 sm:text-xl dark:text-gray-400">Helping me (and maybe you!) keep big playlists
                organized</p>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">It’s my personal project, but any support means a
                lot!</p>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-2xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Chip in if You’d
                    Like</h2>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">I built fuminshō to handle my own playlist chaos,
                    but if it’s useful for you too, any support is awesome and keeps the project growing!</p>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                             class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16s-7.163 16-16 16m7.189-17.98c.314-2.096-1.283-3.223-3.465-3.975l.708-2.84l-1.728-.43l-.69 2.765c-.454-.114-.92-.22-1.385-.326l.695-2.783L15.596 6l-.708 2.839q-.565-.127-1.104-.26l.002-.009l-2.384-.595l-.46 1.846s1.283.294 1.256.312c.7.175.826.638.805 1.006l-.806 3.235q.073.017.18.057l-.183-.045l-1.13 4.532c-.086.212-.303.531-.793.41c.018.025-1.256-.313-1.256-.313l-.858 1.978l2.25.561c.418.105.828.215 1.231.318l-.715 2.872l1.727.43l.708-2.84q.707.19 1.378.357l-.706 2.828l1.728.43l.715-2.866c2.948.558 5.164.333 6.097-2.333c.752-2.146-.037-3.385-1.588-4.192c1.13-.26 1.98-1.003 2.207-2.538m-3.95 5.538c-.533 2.147-4.148.986-5.32.695l.95-3.805c1.172.293 4.929.872 4.37 3.11m.535-5.569c-.487 1.953-3.495.96-4.47.717l.86-3.45c.975.243 4.118.696 3.61 2.733"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Bitcoin</h3>
                    <p class="text-gray-500 dark:text-gray-400 mt-6">1JkrCE8yHjwY3W2dVePt867SaSM3C4FQV6</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                             class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300">
                            <g fill="currentColor" fill-rule="evenodd">
                                <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16s-7.163 16-16 16m7.994-15.781L16.498 4L9 16.22l7.498 4.353zM24 17.616l-7.502 4.351L9 17.617l7.498 10.378z"/>
                                <g fill-rule="nonzero">
                                    <path fill-opacity=".298" d="M16.498 4v8.87l7.497 3.35zm0 17.968v6.027L24 17.616z"/>
                                    <path fill-opacity=".801" d="m16.498 20.573l7.497-4.353l-7.497-3.348z"/>
                                    <path fill-opacity=".298" d="m9 16.22l7.498 4.353v-7.701z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Ethereum</h3>
                    <p class="text-gray-500 dark:text-gray-400 text-xs">(ERC20)</p>
                    <p class="text-gray-500 dark:text-gray-400">0x93dC1931Cde6acc3848a4FC451b7Ee15643300cb</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                             class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16s-7.163 16-16 16m1.922-18.207v-2.366h5.414V7.819H8.595v3.608h5.414v2.365c-4.4.202-7.709 1.074-7.709 2.118s3.309 1.915 7.709 2.118v7.582h3.913v-7.584c4.393-.202 7.694-1.073 7.694-2.116s-3.301-1.914-7.694-2.117m0 3.59v-.002c-.11.008-.677.042-1.942.042c-1.01 0-1.721-.03-1.971-.042v.003c-3.888-.171-6.79-.848-6.79-1.658s2.902-1.486 6.79-1.66v2.644c.254.018.982.061 1.988.061c1.207 0 1.812-.05 1.925-.06v-2.643c3.88.173 6.775.85 6.775 1.658c0 .81-2.895 1.485-6.775 1.657"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Tether</h3>
                    <p class="text-gray-500 dark:text-gray-400 text-xs">(TRC20)</p>
                    <p class="text-gray-500 dark:text-gray-400">TGfgLZEDGLNDQz2vsa9EiaTEb1DEBRWVXH</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                             class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300">
                            <path fill="currentColor"
                                  d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16s-7.163 16-16 16m-3.884-17.596L16 10.52l3.886 3.886l2.26-2.26L16 6l-6.144 6.144zM6 16l2.26 2.26L10.52 16l-2.26-2.26zm6.116 1.596l-2.263 2.257l.003.003L16 26l6.146-6.146v-.001l-2.26-2.26L16 21.48zM21.48 16l2.26 2.26L26 16l-2.26-2.26zm-3.188-.002h.001L16 13.706L14.305 15.4l-.195.195l-.401.402l-.004.003l.004.003l2.29 2.291l2.294-2.293l.001-.001l-.002-.001z"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">BNB</h3>
                    <p class="text-gray-500 dark:text-gray-400 text-xs">(BEP20 - BSC)</p>
                    <p class="text-gray-500 dark:text-gray-400">0x93dC1931Cde6acc3848a4FC451b7Ee15643300cb</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                             class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300">
                            <path fill="currentColor"
                                  d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16S7.163 0 16 0m8.706 19.517H10.34a.6.6 0 0 0-.415.17l-2.838 2.815a.291.291 0 0 0 .207.498H21.66a.6.6 0 0 0 .415-.17l2.838-2.816a.291.291 0 0 0-.207-.497m-3.046-5.292H7.294l-.068.007a.291.291 0 0 0-.14.49l2.84 2.816l.07.06c.1.07.22.11.344.11h14.366l.068-.007a.291.291 0 0 0 .14-.49l-2.84-2.816l-.07-.06a.6.6 0 0 0-.344-.11M24.706 9H10.34a.6.6 0 0 0-.415.17l-2.838 2.816a.291.291 0 0 0 .207.497H21.66a.6.6 0 0 0 .415-.17l2.838-2.815A.291.291 0 0 0 24.706 9"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Solana</h3>
                    <p class="text-gray-500 dark:text-gray-400 mt-6">APjGPUosqkNw3dgwFFCTbhnHw6zUrbXAbsHk5dHtjSbX</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg id="uuid-b8217981-c413-4bbe-bf0d-4d0267de76f4" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 249.7 152.82"
                             class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300">
                            <defs>
                                <style>.uuid-ce027bff-6066-4a2f-8b91-b5abb08d846b {
                                    fill: currentColor;
                                }

                                .uuid-ce027bff-6066-4a2f-8b91-b5abb08d846b, .uuid-0156d6f1-6507-4052-bf43-98668e91676f {
                                    stroke-width: 0px;
                                }

                                .uuid-0156d6f1-6507-4052-bf43-98668e91676f {
                                    fill: currentColor;
                                }</style>
                            </defs>
                            <g id="uuid-94c5e925-009c-4048-8aee-4135eb802be2">
                                <circle class="uuid-ce027bff-6066-4a2f-8b91-b5abb08d846b" cx="59.57" cy="9.92"
                                        r="9.92"/>
                                <path class="uuid-0156d6f1-6507-4052-bf43-98668e91676f"
                                      d="M25.5,58.01c1.93.17,3.6-.28,5.03-1.34,2.39-1.77,4.83-3.09,7.32-3.95.19-.07.34-.18.46-.33.06-.08.13-.15.2-.2.05-.05.11-.08.18-.09,1.98-.57,4.01-1.06,6.1-1.47.16-.03.3-.1.43-.21.07-.06.13-.12.19-.19.08-.09.2-.15.33-.17,9.06-1.37,17.81-.18,26.25,3.57,1.07.48,2.06,1.05,2.97,1.7,1.26.9,2.75,1.57,3.92,2.47,6.99,5.38,12.18,11.79,15.58,19.24,4.82,10.55,6.3,21.59,4.45,33.14-1.15,7.18-3.62,13.74-7.4,19.67-11.74,18.44-34.6,27.34-55.59,20.81-3.77-1.18-7.53-2.5-10.9-4.6-11.86-7.35-20.18-18.54-23.55-32.05C.44,109.92-.04,104.22.01,96.91.16,75.4.16,53.13,0,30.12c-.01-2,.1-4,.34-6.01.37-2.95,1.98-5.55,4.83-7.82.84-.67,1.75-1.12,2.74-1.37,1.58-.4,2.84-1.27,4.52-1.22,4.09.12,7.96.12,11.59.01.67-.02,1.01.31,1,.98l-.05,42.74c0,.35.18.55.53.58ZM49.62,129.14c14.19-.15,25.56-12.92,25.39-28.53h0c-.16-15.61-11.8-28.14-25.98-27.99h0c-14.19.15-25.56,12.92-25.39,28.53h0c.16,15.61,11.8,28.14,25.98,27.99h0Z"/>
                                <path class="uuid-0156d6f1-6507-4052-bf43-98668e91676f"
                                      d="M137.89,151.18c-.99.82-2.27,1.28-3.82,1.39-4.73.33-9.5.33-14.31,0-.25-.02-.45-.23-.45-.49-.07-40.22-.09-81.81-.04-124.77.01-5.7,2.36-9.76,7.47-12.32.22-.11.41-.26.57-.45.42-.5.96-.75,1.61-.75,4.82,0,9.67-.01,14.56-.04.52,0,.95.43.95.95,0,42.28,0,83.68.02,124.2,0,4.29-1.32,7.8-3.95,10.53-.84.86-1.73,1.02-2.61,1.75Z"/>
                                <path class="uuid-0156d6f1-6507-4052-bf43-98668e91676f"
                                      d="M202.56,128.78c3.66.5,6.21.57,7.64.21,6.41-1.61,10.72-5.03,12.93-10.27,1.19-2.8,1.75-6.9,1.69-12.3-.18-15.12-.18-29.37,0-42.74.09-6.87,5.5-12.1,12.37-12.14,4.21-.03,8.22.01,12.03.12.26,0,.47.22.47.48-.03,18.57-.03,37.83-.02,57.79,0,7.88-1.94,15.1-5.83,21.65-5.28,8.89-12.72,15.08-22.33,18.56-9.73,3.53-19.37,3.58-28.92.15-10.27-3.69-18.11-10.42-23.52-20.21-3.29-5.95-4.94-12.64-4.95-20.06-.01-19.47-.02-38.74-.03-57.83,0-.29.23-.52.51-.53,3.95-.13,7.89-.2,11.83-.2,7.29,0,12.6,5.72,12.61,12.94.01,15.74.03,31.33.05,46.77,0,6.47,2.86,11.68,8.56,15.61.99.68,2.58.81,3.52,1.46.43.3.89.48,1.38.54Z"/>
                            </g>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Blu</h3>
                    <p class="text-gray-500 dark:text-gray-400 text-xs">🇮🇷 For Iranians</p>
                    <p class="text-gray-500 dark:text-gray-400">6219861969160810</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16 lg:px-6">
            <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Thank You,
                    Legends!</h2>
                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Huge thanks to everyone who’s chipped
                    in to keep fuminshō going!</p>
            </div>
            <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <div class="text-center text-gray-500 dark:text-gray-400">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-full saturate-50"
                         src="{% static "assets/images/donors/samir.webp" %}"
                         alt="Samir Avatar">
                    <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        Samir <span class="text-lg font-medium">(Hakim)</span>
                    </h3>
                    <p>$69</p>
                </div>
                {% for _ in ""|center:3 %}
                    <div class="text-center text-gray-500 dark:text-gray-400">
                        <img class="mx-auto mb-4 w-36 h-36 saturate-50"
                             src="{% static "assets/images/donors/placeholder.webp" %}"
                             alt="Placeholder Avatar">
                        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            Your Name
                        </h3>
                        <p>-</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
