<section class="bg-white dark:bg-gray-900 border-t border-gray-200/50 dark:border-gray-800/50">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl lg:py-16 lg:px-6">
        <div class="text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Keeping My Playlist
                Fresh</h2>
            <p class="mb-4 font-light">fuminshō scans my YouTube playlist every 24 hours—right at midnight, Tehran time.
                It automatically checks for new videos and adds them to the database.</p>
            <p class="mb-4 font-light">Next scan in: <span id="countdown-timer">00:00:00</span></p>
            <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                <div id="progress-bar" class="bg-gray-600 h-2.5 rounded-full dark:bg-gray-300" style="width: 0%;"></div>
            </div>
        </div>
    </div>
</section>


